TensorFlow/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Model" type="xs:string" default="Inception"/>
		<xs:element name="Area" type="xs:string" default=""/>
		<xs:element name="Overlay" type="xs:boolean" default="true"/>
		  <xs:element name="MinConfidence" type="xs:int" default="50"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
